*{
    margin: 0;
    padding: 0;
}

.btn , .btn-two{
    background-color: #30B868;
    border: none;
    border-radius: 5px;
    padding: 12px 16px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.e-button{
    padding: 26px 120px;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

header{
    padding-top: 16px;

}

nav{
    width: 100%;
    max-width: 1400px;
    /* border: 1px solid green */
    margin-left: auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 34px;
}

.color-green{
    color: #30B868;
}

nav .menu a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}


#banner{
    background-image:url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 115px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    height: 500px;
    width: 100%;
    
}

.b-container{
    padding: 12px;
    font-size: 75px;
}

.banner-container{
    padding: 10px 0 25px 120px;
    font-size: 18px;
    max-width: 700px;
    text-align: center;
    line-height: 30px;
}

.btn-one{
    background-color: #FFFFFF;
    border: none;
    border-radius: 50px;
    padding: 15px 20px;
    color: #30B868;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.btn-two{
    padding: 15px 20px;
}

.btn-three{
    padding: 13px 20px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    box-sizing: border-box;
    margin-left: 20px;
}

.main-d{
    text-align: center;
    padding: 40px;
}
.main-one{
    font-size: 48px;
}

.main-two{
    color: #627382;
    padding: 12px;
}

.card-container-parent{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card-container{
    background-color: whitesmoke;
    width: 250px;
    /* height: 300px; */
    padding: 70px 30px;
    text-align: center;
    /* background-color: aqua; */
    box-shadow: 5px 5px 5px color grey;

}


.icon-one{
    background-color: #F95555;
    height: 45px;
    width: 45px;
    padding: 15px;
    border-radius: 50%;
    margin: 0 auto;
}

.icon-one img{
    width: 100%;
}

.h-one{
   color:#001931;
   font-size: 26px;
   font-weight: 500;
   margin: 16px;
}

.p-one{
    color:#627382;

}



